@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Rubik:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

html {
  background: #012c3b;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
  p,
  span,
  a {
    font-family: "Rubik", sans-serif;
  }
}

@layer components {
  .pMaxW {
    @apply max-w-[1920px] mx-auto;
  }
  .maxW {
    @apply max-w-7xl px-2 md:px-5 mx-auto;
  }
  #header .navbar div,
  ul,
  li,
  a {
    @apply bg-white;
  }
}


