@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Rubik:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  background: #012c3b;
  color: #ffffff;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a {
    font-family: "Montserrat", sans-serif !important;
    color: #ffffff;
  }
}

@layer components {
  .pMaxW {
    @apply max-w-[1920px] mx-auto;
  }
  .maxW {
    @apply max-w-7xl px-2 md:px-5 mx-auto;
  }
  .fontRubik {
    font-family: "Rubik", sans-serif;
  }
  .menulist li a {
    @apply text-black text-base font-semibold hover:text-white hover:bg-primary px-3 py-2 rounded duration-200;
  }
}
